.App {
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}

html {
  background-color: #7eb2c4; 
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title {
  font-size: 34px;
  color: #E9B000;
  padding: 30px;
  padding-bottom: 0px;
  margin: auto;
  text-align: center;
}

.mobileTitle {
  font-size: 24px;
  color: #E9B000;
  padding: 5px;
  margin: 0px;
  text-align: center;
}

p {
  line-height: 200%;
  color: black;
  font-size: 20px;
}

.placement {
  font-size: 24px;
  color: #7eb2c4;
  font-weight: bold;
  padding: 10px;
  padding-bottom: 20px;
  margin: auto;
  text-align: center;
}

.mobilePlacement {
  font-size: 22px;
  color: #7eb2c4;
  font-weight: bold;
  padding: 5px;
  margin: 0px;
  text-align: center;
}

h1 {
  font-size: 60px;
  background: -webkit-linear-gradient(#EB6E80, #E9B000);
  -webkit-text-fill-color: white;
}


.tabHeader {
  background-color: white;
  border-bottom: 1px solid lightgrey;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: center;
  padding: 20px;
}

.postTitle {
  font-size: 28px;
  color: #EB6E80;
  padding: 30px;
}

.mobilePostTitle {
  font-size: 20px;
  color: #EB6E80;
  padding: 10px;
}

button {
  font-size: 24px;
  background-color: white;
  color: #E9B000;
  padding: 2px;
  min-height: 30px;
  min-width: 100px;
  border: 1px solid #EB6E80;
  border-radius: 25px;
  margin: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

select {
  font-size: 24px;
  background-color: white;
  border: 1px solid  #a5c9c9;
  color: black;
  margin: 10px;
  min-height: 30px;
  min-width: 100px;
  padding: 10px;
}

button:hover {
  color: white;
  background-color: #E9B000;
}

label {
  font-size: 24px;
  background-color: white;
  color: black;
  margin: 20px;
  min-height: 30px;
  min-width: 100px;
}

input {
  font-size: 24px;
  background-color: white;
  border: 1px solid  #a5c9c9;
  color: black;
  margin: 10px;
  min-height: 30px;
  min-width: 100px;
}

.mobileSelection {
  font-size: 18px;
  background-color: white;
  border: 1px solid  #a5c9c9;
  color: black;
  margin: 5px;
  min-height: 25px;
  min-width: 80px;
}

.descriptionBox {
  font-size: 20px;
  background-color: white;
  border: 1px solid  #a5c9c9;
  color: black;
  margin: 10px;
}

#AddPost {
  float: right;
  margin: 20px;
  font-size: 20px;
}

.postDiv {
  border: 1px solid #EB6E80;
  margin: 20px;
  padding: 20px;
  border-radius: 25px;
}

.mobileAdded {
  font-size: 18px;
}

.mobilePostDiv {
  border: 1px solid #EB6E80;
  margin: 10px;
  padding: 10px;
  border-radius: 25px;
  font-size: 16px;
}

.tabContent {
  text-align: center;
  max-width: 80%;
  padding: 20px;
  border: 1px solid lightgray;
  margin: auto;
  border-top: none;
  background-color: white; 
}