.loader {
    border-top: 16px solid #7eb2c4;
    border-right: 16px solid #E9B000;
    border-bottom: 16px solid #EB6E80;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    float: center;
  }

.load {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }